.el-drawer.rtl {
  border-radius: 20px;
  padding: 10px;
}

.el-link {
  margin: 0px 3px;
}

.el-button.el-button--blue {
  background: #438edb;
  border: 1px solid #438edb;
  color: white;
}

.el-button.el-button--blue:hover {
  background: #438edb;
  color: white;
}

.el-button.el-button--blue:active {
  background: #4086ce;
  border: 1px solid #4086ce;
}

.el-button.el-button--blue.is-plain {
  background: transparent;
  border: 1px solid #438edb;
  color: #438edb;
}

.el-button.el-button--blue.is-plain:hover {
  background: #438edb;
  color: white;
}

.el-button.el-button--blue.is-plain:active {
  background: #4086ce;
  border: 1px solid #4086ce;
}

.el-menu::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

.el-loading-mask {
  background: none;
  backdrop-filter: blur(5px);
}

.el-breadcrumb {
  font-size: 14px !important;
}

.el-header {
  background-color: var(--card-bg-color);
  /* height: 60px;
  line-height: 60px;
  display: flex;
  flex-direction: row;
  border-bottom: var(--card-border); */
}

.el-body {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* border-top-left-radius: 40px; */
  background-color: var(--main-bg-color);
}

.el-aside {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.el-menu {
  border-right: none;
  flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--menu-bg-color);
  /* border-bottom-right-radius: 40px; */
}

.el-main {
  position: relative;
  flex-grow: 1;
  padding: 0;
  /* border-radius: var(--card-border-radius); */
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin: 10px;
}

.el-submenu .el-menu-item {
  padding: 0px 40px 0px 53px !important;
}

.el-menu-item,
.el-submenu__title {
  background-color: var(--menu-bg-color) !important;
  color: var(--menu-txt-color) !important;
}

.el-submenu__title:hover,
.el-menu-item.is-active,
.el-menu-item:focus,
.el-menu-item:hover {
  background: var(--menu-active-bg-color) !important;
  color: var(--menu-active-color) !important;
}

.el-menu-item.is-active,
.el-submenu.is-active:not([aria-expanded])>.el-submenu__title {
  color: #fff !important;
  background-color: var(--base-color) !important;
}

.el-empty {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.el-empty__image {
  width: 100px;
  display: inline-block;
  margin-top: -150px;
}

.el-table thead tr,
.el-table thead th {
  background-color: rgb(241, 241, 241);
}

.el-table {
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
  overflow: hidden;
}

.el-dialog__body {
  padding: 20px;
}