div,
span {
  box-sizing: border-box;
}

.el-header {
  padding: unset;
}

/* .el-menu-vertical {
  min-width: 300px;
} */

.el-aside {
  height: 100vh;
  /* transition: all .3s; */
}

.el-menu-vertical:not(.el-menu--collapse) {
  width: 200px;
}